.article {
  height: 100vh;
  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__text-col {
    width: 610px;
    &--reverse {
      order: 1;
    }
    h2 {
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: 800;
      line-height: 1.67;
    }
    p {
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 1.78;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.78;
    }
    ul {
      list-style: none;
      li {
        position: relative;
        padding-left: 75px;
        font-size: 18px;
        line-height: 1.78;
        &::before {
          content: "";
          display: block;
          width: 14px;
          height: 10px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background-image: url("../img/list-arrow.svg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  &__img-col {
    width: 490px;
  }
  &__img-box {
    position: relative;
    &--video {
      cursor: pointer;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__video-play {
    width: 131px;
    height: 131px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
