.footer {
  padding: 85px 0 70px;
  background-color: #001927;
  color: #fff;
  font-size: 15px;
  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__address-col {
    margin-right: 45px;
  }
  &__address-box {
    margin-bottom: 45px;
  }
  &__address {
    margin-bottom: 10px;
    color: #fff;
    line-height: 13px;
    text-decoration: none;
  }
  &__links-col {
    padding-top: 5px;
  }
  &__header {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 800;
    line-height: 12px;
  }
  &__link {
    display: block;
    margin-bottom: 24px;
    color: #fff;
    line-height: 12px;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      color: #00b6dc;
    }
  }
  &__realization {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
  }
}

//---------- MEDIA ----------

@media (max-width: 1024px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 40px;
    &__container {
      flex-direction: column;
    }
    &__address-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
    &__address-box {
      margin-bottom: 30px;
    }
    &__links-col {
      padding-top: 30px;
    }
    &__header {
      margin-bottom: 20px;
    }
    &__link {
      margin-bottom: 15px;
    }
    &__realization {
      position: static;
      margin-top: 50px;
      margin-bottom: 0;
      text-align: right;
    }
  }
}
