.footer {
  padding: 80px 0 70px;
  background-color: #001927;
  color: #fff;
  font-size: 15px;
  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    h6 {
      font-size: 15px;
      font-weight: 800;
    }
  }
  &__realization {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
