* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

body {
  color: #002841;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  padding: 14px 29px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 100px;
  color: #002841;
  font-size: 14px;
  font-weight: 800;
  line-height: 60px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: transparent;
    color: #fff;
    opacity: 1;
  }
  &--outline {
    background-color: transparent;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #002841;
      opacity: 1;
    }
  }
  &--blue {
    background-color: #00b6dc;
    border-color: #00b6dc;
    color: #fff;
    &:hover {
      color: #00b6dc;
    }
  }
}

//---------- MEDIA ----------

@media (max-width: 1024px) {
  .container {
    max-width: unset;
    padding: 0 15px;
  }
}
