.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 35px 0;
  background-color: transparent;
  transition: 0.3s;
  z-index: 100;
  &--scroll {
    padding: 15px 0;
    background-color: #00b6dc;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 92px;
    height: 108px;
  }
}
