.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 35px 0;
  background-color: transparent;
  z-index: 100;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 92px;
    height: 108px;
  }
}
