.nav {
  display: flex;
  align-items: center;
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
  }
  &__link {
    margin-bottom: 15px;
    padding-right: 70px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
    &:last-child {
      padding-right: 0;
    }
    * {
      color: #fff;
      transition: 0.3s;
      &:hover {
        color: #00b6dc;
      }
    }
  }
}
