.start {
  &__text-box {
    width: 100%;
    position: absolute;
    bottom: 26.5%;
    left: 0;
  }
  &__header {
    margin-bottom: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: 200;
    line-height: 60px;
  }
  &__text-blue {
    color: #00b6dc;
  }
  &__first-btn {
    margin-right: 20px;
  }
}

//---------- MEDIA ----------

@media (max-width: 1024px) {
  .start {
    &__text-box {
      bottom: 15%;
    }
    &__header {
      margin-bottom: 50px;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
    }
    .btn {
      display: block;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      line-height: 1;
      text-align: center;
    }
    &__first-btn {
      margin-bottom: 15px;
    }
  }
}
