.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.left-arrow {
  left: 32px;
}

.right-arrow {
  right: 32px;
}

.slide {
  opacity: 0;
  transition: 0.3s;
}

.slide.active {
  opacity: 1;
  transform: scale(1.08);
}
